{
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-optional-chaining",
    "@babel/proposal-class-properties",
    "@babel/proposal-decorators"
  ],
  "presets": [
    ["@babel/preset-react", {
      "development": true
    }]
  ],
  "sourceMaps" : true,
  "retainLines": true
}